# --------------Experiment-2---------------

# 2.A. Using Numpy module perform the following operations

## i) Demonstrate Array Aggregation Functions
## ii) Demonstrate Vectorised Operations
## iii) Demonstrate Map, Filter, Reduce & Lambda

# 2.B. Using Pandas module perform the following operations

## i) Aggregation & Grouping
## ii) Time Series Operations
## iii) Pivot & Melt Functions
## iv) Demonstrate Pandas Map, Filter, Reduce & Lambda with DataFrames

# i) Numpy Array Aggregation Functions

In [1]:
import numpy as np

arr = np.array([10, 20, 30, 40, 50])

print("Sum:", np.sum(arr))       # total
print("Mean:", np.mean(arr))     # average
print("Max:", np.max(arr))       # highest
print("Min:", np.min(arr))       # lowest
print("Min:", np.median(arr))       # Middle
print("Standard Deviation:", np.std(arr))  # spread of data

Sum: 150
Mean: 30.0
Max: 50
Min: 10
Min: 30.0
Standard Deviation: 14.142135623730951

# ii) Numpy Vectorised Operations

In [2]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([10, 20, 30, 40])

print("Addition:", arr1 + arr2)
print("Subtraction:", arr2 - arr1)
print("Multiplication:", arr1 * arr2)
print("Division:", arr2 / arr1)

Addition: [11 22 33 44]
Subtraction: [ 9 18 27 36]
Multiplication: [ 10  40  90 160]
Division: [10. 10. 10. 10.]

# iii) Numpy Map, Filter, Reduce & Lambda

#### ðŸ‘‰ These are functional programming tools used with lists/arrays.

#### map â†’ apply a function to each item

#### filter â†’ keep only items that match a condition

#### reduce â†’ repeatedly apply a function to get a single value

#### lambda â†’ write a quick mini function without a name

In [3]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

# map: square each number
squared = list(map(lambda x: x**2, numbers))

# filter: keep only even numbers
evens = list(filter(lambda x: x % 2 == 0, numbers))

# reduce: multiply all numbers
product = reduce(lambda x, y: x * y, numbers)

print("Squared:", squared)
print("Evens:", evens)
print("Product:", product)

Squared: [1, 4, 9, 16, 25]
Evens: [2, 4]
Product: 120

# i) Pandas Aggregation & Grouping

In [4]:
import pandas as pd

# Sample data
data = {
    'Category': ['Fruit', 'Fruit', 'Veg', 'Veg', 'Fruit'],
    'Item': ['Apple', 'Banana', 'Carrot', 'Potato', 'Mango'],
    'Price': [100, 80, 50, 40, 60]
}
df = pd.DataFrame(data)

# Aggregation
print("Total Price:", df['Price'].sum())
print("Average Price:", df['Price'].mean())

# Grouping + Aggregation
print("\nGroup by Category:")
print(df.groupby('Category')['Price'].sum())

Total Price: 330
Average Price: 66.0

Group by Category:
Category
Fruit    240
Veg       90
Name: Price, dtype: int64

# ii) Pandas Time Series Operations

#### ðŸ‘‰ A time series is data with dates/times as the index.
#### Example: stock prices every day, weather every hour.

In [5]:
# Create time series data
dates = pd.date_range("2025-09-01", periods=5, freq="D")
sales = [100, 150, 200, 250, 300]
df = pd.DataFrame({"Date": dates, "Sales": sales})
df.set_index("Date", inplace=True)

print("Original Data:")
print(df)

# Resample: Weekly sum
print("\nWeekly Sales (Sum):")
print(df.resample("W").sum())

# Rolling average (3-day moving average)
print("\n3-Day Moving Average:")
print(df['Sales'].rolling(3).mean())

Original Data:
            Sales
Date
2025-09-01    100
2025-09-02    150
2025-09-03    200
2025-09-04    250
2025-09-05    300

Weekly Sales (Sum):
            Sales
Date
2025-09-07   1000

3-Day Moving Average:
Date
2025-09-01      NaN
2025-09-02      NaN
2025-09-03    150.0
2025-09-04    200.0
2025-09-05    250.0
Name: Sales, dtype: float64

# iii) Pandas Pivot & Melt Functions

#### ðŸ‘‰ Pivot â†’ Reshape data into a table format (like Excel pivot tables).
#### ðŸ‘‰ Melt â†’ Opposite of pivot â†’ turn columns back into rows.

In [6]:
data = {
    'Date': ['2025-09-01', '2025-09-01', '2025-09-02', '2025-09-02'],
    'Item': ['Apple', 'Banana', 'Apple', 'Banana'],
    'Sales': [50, 60, 70, 80]
}
df = pd.DataFrame(data)

# Pivot
pivot_df = df.pivot(index='Date', columns='Item', values='Sales')
print("Pivot Table:")
print(pivot_df)

# Melt (reverse of pivot)
melt_df = pivot_df.reset_index().melt(id_vars='Date', value_vars=['Apple', 'Banana'], var_name='Item', value_name='Sales')
print("\nMelted Table:")
print(melt_df)

Pivot Table:
Item        Apple  Banana
Date
2025-09-01     50      60
2025-09-02     70      80

Melted Table:
         Date    Item  Sales
0  2025-09-01   Apple     50
1  2025-09-02   Apple     70
2  2025-09-01  Banana     60
3  2025-09-02  Banana     80

# iv) Pandas Map, Filter, Reduce & Lambda with DataFrames

In [7]:
from functools import reduce

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Marks": [90, 80, 95]
})

# Map: apply function to a column
df["Double Marks"] = df["Marks"].map(lambda x: x * 2)

# Filter: select rows with condition
filtered = df[df["Marks"] > 85]

# Reduce: combine all marks into one (sum)
total_marks = reduce(lambda x, y: x + y, df["Marks"])

print("With Map:\n", df)
print("\nFiltered (Marks > 85):\n", filtered)
print("\nTotal Marks (Reduce):", total_marks)

With Map:
       Name  Marks  Double Marks
0    Alice     90           180
1      Bob     80           160
2  Charlie     95           190

Filtered (Marks > 85):
       Name  Marks  Double Marks
0    Alice     90           180
2  Charlie     95           190

Total Marks (Reduce): 265