# Experiment-7

## 7) Consider the Boston dataset and train Multiple Linear Regression and evaluate the model using different matrices

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error

## Building Multiple Linear Regression Model using Boston house price prediction

In [2]:
df=pd.read_csv('D:/CSV file/Boston.csv')
df.head(5)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
df.isnull().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

In [4]:
x = df.drop('medv',axis=1)
y = df['medv']

## Split the data into training and testing sets

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=5)

## Building the model

In [6]:
lr = LinearRegression()
model = lr.fit(x_train,y_train)

## Evaluating the Model

In [7]:
y_pred = model.predict(x_test)

In [8]:
print("The MSE is : ", mean_squared_error(y_test,y_pred))
print("The RMSE is : ", root_mean_squared_error(y_test,y_pred))
print("The R square is : ", r2_score(y_test, y_pred))

The MSE is :  21.176142408242043
The RMSE is :  4.6017542750827145
The R square is :  0.7295300033236576