# --------------Experiment-6---------------

## 6) Consider the Student dataset and train Simple Linear Regression to predict Student Scores based on Study Hour and also evaluate the model using different matrices

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error

## Simple Linear Regression Model to predict student scores based on study hours

In [2]:
df = pd.read_csv('D:/CSV file/score.csv')
df.head(5)

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    75.0
4    3.5    30.0

In [3]:
df.isnull().sum()

Hours     0
Scores    3
dtype: int64

In [4]:
df.dropna(inplace=True,axis=0)

In [5]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [6]:
Y = df['Scores']
X = df.drop('Scores',axis=1)

## Split the data into training and testing sets

In [7]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

## Building the model

In [8]:
lr = LinearRegression()
model = lr.fit(x_train,y_train)

## Evaluating the Model

In [9]:
y_pred = model.predict(x_test)

In [10]:
df = pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
df

    y_test     y_pred
20    30.0  28.567137
24    86.0  77.050972
6     88.0  90.360260
1     47.0  51.383059
18    67.0  60.889694
5     20.0  17.159176

In [11]:
print("The MSE is : ", mean_squared_error(y_test,y_pred))
print("The RMSE is : ", root_mean_squared_error(y_test,y_pred))
print("The R square is : ", r2_score(y_test, y_pred))

The MSE is :  25.387727025837524
The RMSE is :  5.0386235249160585
The R square is :  0.9628230486116925